--extra-index-url https://download.pytorch.org/whl/cpu
docling
langchain-community
langchain-text-splitters
langchain-chroma
ibm-watsonx-ai
langchain-ibm
langchain-huggingface
langchain_experimental
langchain-core
gradio
dotenv
PyMuPDF
seaborn
matplotlib
numpy
pydantic
pandas
langgraph
httpx